{% load django_bootstrap5 %}
{% load static %}

 <!-- Navigation bar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
  <div class="container-fluid" style="padding: 0">
    <a class="navbar-brand" href="{% url 'index' %}"> <strong class="mr-4 brand"> Awwards</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-logo" href=" "><img class="rounded-circle img-white" src="/static/images/favicon.png" alt="" height="50px" width="50px"></a>
  
  {% if user.is_authenticated %}
    <div class="disp">
      <form class="form-inline" action="{% url 'search' %}" role="search">
        <input type="text" class="form-control" name="search" placeholder="Search" aria-label="Search" />
      </form>
    </div>
    
    <div class="prof collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'new_site' %} " style="text-decoration: none;"><span>Post Project</span>
        </a>
       </li> 

        {% for profile in profile %}
        <li class="nav-item drop dropdown">
          <a class="nav-link dropdown-toggle pinfo" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-circle" src="{{ profile.image.url }} " alt="" width="40px" height="40px" />
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item carta pb-3" href="{% url 'profile' username=user %} ">Profile</a>
            </li>
           
            <li>
              <a class="dropdown-item carta pb-3" href="{%url 'logout' %}">Logout</a>
            </li>
          </ul>
        </li>
        <li class="nav-item drop dropdown">
          <a class="nav-link dropdown-toggle pinfo" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <button class="btn btn-outline-primary" width="40px" height="40px">Get APIs</button>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item carta pb-3" href="/api/profiles ">Profile-List</a>
            </li>
           
            <li>
              <a class="dropdown-item carta pb-3" href="/api/projects ">Projects-List</a>
            </li>
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% else %}     
    <li class="regi">
      <a class="nav-item" style="text-decoration: none;" href=" /register">REGISTER</a>
    </div>
    {% endif %}
    
  </div>
</nav>
</div>